.chainContainer {
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  border-radius: 10px !important;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.04) !important;
  border: solid 2px #535362 !important;
  background-color: #fff !important;
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.name {
}

.chainInfoContainer {
  display: flex;
  align-items: flex-start;
  margin-left: 52px;
  margin-bottom: 20px;
}

.dataPoint {
  flex: 1;
}

.dataPointHeader {
  padding-bottom: 7px;
}

.avatar {
  margin-right: 24px;
}

.chainNameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px !important;
}
