.container {
  display: grid;
  grid-template-columns: 700px calc(100vw - 700px);
  position: relative;
  box-sizing: border-box;
}

.containerDark {
  display: grid;
  grid-template-columns: 700px calc(100vw - 717px);
  position: relative;
  box-sizing: border-box;
  background: #2b2e3c;
}

.copyContainer {
  display: flex;
  flex-direction: column;
  position: sticky;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  top: 0;
  background-color: #07070c;
}

.copyCentered {
  width: 425px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 96px;
}
.copyPart {
  width: 100%;
}
.subTitle {
  color: #fff;
  line-height: 1.7;
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
  padding-top: 24px;
  position: sticky;
  top: 0;
  /* background: linear-gradient(rgba(243, 243, 243, 1) 90%, rgba(243, 243, 243, 0) 100%); */
  padding: 24px 80px 48px 80px;
  z-index: 1;
}

.headerContainerDark {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
  padding-top: 24px;
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(35, 37, 46, 1) 90%, rgba(35, 37, 46, 0) 100%);
  padding: 24px 80px 48px 80px;
  z-index: 1;
}

.listContainer {
  min-height: 100vh;
  width: 100%;
  align-items: flex-start;
  /* background: #c6cbd9; */
  padding: 0px 24px 24px;

  background: linear-gradient(270deg, #ffd6f0, #ffc996, #94cbfe);
  background-size: 2000% 2000% ;
  animation: colors  30s ease infinite;
}
@keyframes colors { 
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.listContainerDark {
  min-height: 100vh;
  width: 100%;
  align-items: flex-start;
  background: #23252e;
  padding: 0px 24px;
}

.cardsContainer {
  padding: 0px 80px;
  display: grid;
  grid-template-columns: calc(33% - 15px) calc(33% - 15px) calc(33% - 15px);
  gap: 30px;
  max-width: 1400px;
}

.chainListSpacing {
  margin-bottom: 21px !important;
}

.helpingUnderline {
  color: #ffffff;
}

.helpingParagraph {
  margin-bottom: 30px !important;
  max-width: 320px;
}

.addNetworkButton {
  margin-top: 20px !important;
  width: auto !important;
  height: auto !important;
  background-color: #3dd598 !important;
  border-radius: 50px !important;
  padding: 8px 20px !important;
  color: #000 !important;
}

.filterRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex: 1;
  height: 42px;
  border-radius: 10px !important;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.04) !important;
  background-color: #f2f3f7 !important;
}

.searchContainer {
  margin-right: 24px !important;
}

.socials {
  /* margin-top: 20px; */
}

.socialButton {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.sourceCode {
  padding-left: 6px;
}

.version {
  padding-left: 30px;
  text-transform: uppercase !important;
  color: rgba(255, 255, 255, 0.87) !important;
  white-space: pre-wrap;
}

.searchPaper {
  width: 100%;
}

.searchInputAdnornment {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: normal !important;
}

.buttonLabel {
  white-space: nowrap;
  text-transform: uppercase !important;
  color: #000 !important;
  letter-spacing: normal !important;
  font-family: 'Space Grotesk' !important;
  font-size: 16px !important;
  font-weight: bold !important; 
}

.buttonText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1700px) {
  .cardsContainer {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media screen and (max-width: 1500px) {
  .container {
    grid-template-columns: 500px calc(100vw - 500px);
  }

  .containerDark {
    grid-template-columns: 500px calc(100vw - 500px);
  }

  .headerContainer,
  .headerContainerDark {
    padding: 24px 48px 48px 48px;
  }

  .cardsContainer {
    padding: 0px 48px 48px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .containerDark {
    display: flex;
    flex-direction: column;
  }

  .copyContainer {
    position: relative;
    top: 0px;
    min-height: 100vh;
  }

  .copyCentered {
    padding: 0 160px;
    flex-direction: row;
    width: 100%;
    position: static;
    padding-bottom: 0px;
    /* gap: 96px; */
  }

  .listContainer {
    width: calc(100vw);
    padding: 0px;
  }

  .listContainerDark {
    width: calc(100vw - 17px);
    padding: 0px;
  }

  .socials {
    position: relative;
    margin-top: calc(2em + 10px);
    bottom: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .copyContainer {
    padding: 40px 0px;
  }
  .copyCentered {
    padding: 0 40px;
    /* width: 425px; */
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
    gap: unset;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .copyContainer {
  }
  .cardsContainer {
    padding: 0 20px 20px;
  }
  .subTitle {
    padding: 0 10px;
  }
  .socials {

  }
  .socialButton {
  }
  .version {
    padding-left: 0;
  }
  .cardsContainer {
    grid-template-columns: 100%;
  }
  .listContainer,
  .listContainerDark {
    width: 100%;
  }
  .headerContainer,
  .headerContainerDark {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    /* gap: 14px; */
    padding: 20px;
  }
  .searchContainer {
    margin-right: 0px !important;
  }
}
